*{
   border-radius:  30px;
   padding: 8px;
   text-align: center; 
}

#id1{
    background-color: rgb(97, 65, 26);
    width: 80%;
    height: 100px;
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}
#id2{
    background-color: rgb(16, 85, 39);
    width: 80%;
    height: 100px;
    color: white;
}